server:
  port: 8080

spring:
  application:
    name: psicologico-api
  
  datasource:
    url: jdbc:postgresql://localhost:5432/gabinete_psicologico
    username: postgres
    password: 1234567
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  security:
    user:
      name: admin
      password: admin123